:root {
  --mainColor: #099a57;
  --secondaryColor: #06c167;
  --black: #1d1d1b;
  --white: #fff;
  --titleFont: "Montserrat", sans-serif;
  --textFont: "Roboto", sans-serif;
  --spacingSmall: 1rem;
  --spacingMedium: 2rem;
  --spacingLarge: 4rem;
}

body {
  font-family: var(--textFont);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}

.italic {
  font-style: italic;
}

.container {
  padding: var(--spacingMedium);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    rgba(9, 154, 87, 0.15),
    #fff,
    rgba(9, 154, 87, 0.15)
  );
}

.filterSection {
  display: flex;
  flex-direction: column;
}

.filterSection h2 {
  text-align: center;
  color: var(--mainColor);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: var(--spacingMedium);
}

.filterSection p {
  text-align: center;
  margin-bottom: var(--spacingSmall);
  font-size: 1.2rem;
}

.filterList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: var(--spacingSmall);
  gap: var(--spacingSmall);
}

.filterBtn {
  height: 40px;
  width: 100px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filterBtn:hover {
  background-color: var(--mainColor);
  color: var(--white);
}

.resetBtn {
  margin: 1rem auto 0;
  padding: 5px 10px;
  border: 2px solid var(--black);
  background: var(--black);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.resetBtn:hover {
  background: transparent;
  color: var(--black);
}

.restaurantsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacingSmall);
  padding-top: var(--spacingMedium);
}

.restaurantCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 380px;
  border: 2px solid var(--black);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: var(--spacingSmall);

  .imgContainer {
    max-width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 5px;

    img {
      min-width: 100%;
      min-height: 100%;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  h3 {
    color: var(--mainColor);
    font-weight: 700;
    margin: 8px 0;
  }

  p {
    margin-bottom: 8px;
  }

  button {
    width: 100%;
    padding: 8px;
    background: var(--mainColor);
    color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--mainColor);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: auto;

    &:hover {
      background: var(--secondaryColor);
      border: 2px solid var(--secondaryColor);
    }
  }
}

@media screen and (max-width: 547px) {
  .container {
    padding: var(--spacingMedium) var(--spacingSmall);
  }
}
